@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

* {box-sizing: border-box;}

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(#748b7e, #b3d6c1);
}

header {
    display: flex;
    align-items: center;
    background-color: #181818;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

nav {margin-left: 10px;}

nav a {
    padding: 0 10px;
    font-size: 1.125em;
    color: #9cbba8;
    text-decoration: none;
}

nav a:hover {color: #f2f2f2;}

main {
    display: grid;
    justify-content: center;
}

time {font-weight: bold;}

textarea {
    resize: none;
    width: 100%;
    font-size: 1em;
    font-family: sans-serif;
}

footer {
    display: flex;
    padding: 100px;
    background-color: #181818;
}

.keyboard-rows {display: flex;}

.key {
    display: flex;
    width: 50px;
    height: 50px;
    margin: 1px;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.side-key {background-color: #bbbbbb;}

.key-bumps-display {
    display: grid;
    padding: 15px;
}

.key-bumps {
    width: 7px;
    height: 1px;
    background-color: #444444;
}

.active-keys {
    color: #f2f2f2;
    background-color: #444444;
}

.success {
    color: #b1e650;
    text-decoration-line: underline;
}

.fail {background-color: #cc7070;}

#home {
    padding: 0 20px;
    text-decoration: none;
    color: #f2f2f2;
    background: linear-gradient(#c95757, #753131);
    text-shadow: 2px 2px 4px #000000;
    font-family: sans-serif;
}

#typing-area {
    width: 800px;
    padding: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#performance-details {
    display: flex;
    justify-content: space-between;
}

#performance-details p {margin: 0;}

#performance-details span {font-weight: bold;}

#text-box {
    padding: 10px;
    margin-top: 50px;
    background-color: #eeeeee;
    border: solid #bbbbbb;
    border-radius: 10px;
}

#text-generator {
    color: #404040;
    padding-bottom: 10px;
    font-weight: bold;
}

#retry {
    margin-top: 10px;
    float: right;
    border: none;
    border-radius: 5px;
    font-size: 1.125em;
    padding: 7.5px 15px;
    color: #f2f2f2;
    background-color: #5cda8e;
}

#retry svg {
    fill: #f2f2f2;
    width: 15px;
}

#result-details {
    display: none;
    padding-top: 60px;
    text-align: center;
}

#result-details div {
    display: flex;
    justify-content: space-around;
}

#result-details span {
    font-weight: bold;
    font-size: 1.5em;
}

#keyboard-area {
    padding: 0 23px 0;
    margin: 50px 0 100px;
    font-family: "Lato", sans-serif;
}

#keyboard-box {
    width: 750px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3%;
    background-color: #dddddd;
}

#keyboard-frame {
    background-color: #181818;
    border: solid #181818;
}

#backspace {width: 100px;}

#tab, #backslash, #ctrl-left, #alt-left, #alt-right, #ctrl-right {width: 75px;}

#caps-lock {width: 86px;}

#enter {width: 116px;}

#shift-left {width: 112px;}

#shift-right {width: 142px;}

#space {width: 468px;}