@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(#7f9e8d, #b3d6c1);
    min-height: 100vh;
}

header {
    background-color: #181818;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin: 5px;
    padding: 0 10px;
    font-size: 1.125em;
    color: #808080;
    text-decoration: none;
}

nav a:hover {color: #f2f2f2;}

main {
    min-height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-content: space-between;
}

time {font-weight: bold;}

textarea {
    resize: none;
    width: 100%;
    font-size: 1em;
}

footer {
    width: 100%;
    padding: 0 20px;
}

footer hr {
    border: solid #808080 1px;
    background-color: #808080;
    margin: 0;
}

section {
    display: flex;
    justify-content: center;
}

section a {
    padding: 20px 10px;
    color: #808080;
    text-decoration: none;
}

.bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #f2f2f2;
}

.nav-responsive.nav-active {
    display: grid;
    position: absolute;
    padding-bottom: 5px;
    top: 50px;
    width: 100%;
    background-color: #181818;
}

.keyboard-rows {display: flex;}

.key {
    display: flex;
    width: 50px;
    height: 50px;
    margin: 1px;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    background-color: #242424;
}

.light-theme {background-color: #2e2e2e;}

.dark-theme {background-color: #292929;}

.key-bumps-display {
    display: grid;
    padding: 15px;
}

.key-bumps {
    width: 7px;
    height: 1px;
    background-color: #f2f2f2;
}

.active-keys {background-color: #c4b637;}

.success {
    color: #181818;
    text-decoration-line: underline;
}

.fail {
    color: #181818;
    background-color: #cc7070;
}

#home {
    display: flex;
    color: #f2f2f2;
}

#home img {
    width: 40px;
    height: 40px;
}

#home:hover {color: #c4b637;}

#hamburger-menu {
    display: none;
    cursor: pointer;
    padding-right: 15px;
}

#hamburger-menu:hover div {background-color: #c4b637;}

#typing-area {
    max-width: 900px;
    width: 100%;
    margin: auto;
    padding: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#performance-details {
    display: flex;
    justify-content: space-between;
}

#performance-details p {margin: 0;}

#performance-details span {font-weight: bold;}

#text-box {
    padding: 10px;
    margin-top: 10px;
    background-color: #eeeeee;
    border: solid #bbbbbb;
}

#text-generator {
    font-size: 1.5em;
    color: #808080;
    padding-bottom: 10px;
}

#retry {
    margin-top: 10px;
    float: right;
    border: none;
    font-size: 1.125em;
    padding: 7.5px 15px;
    color: #f2f2f2;
    background-color: #5cda8e;
}

#retry svg {
    fill: #f2f2f2;
    width: 15px;
}

#result-details {
    display: none;
    padding-top: 60px;
    text-align: center;
}

#result-details div {
    display: flex;
    justify-content: space-around;
}

#result-details span {
    font-weight: bold;
    font-size: 1.5em;
}

#keyboard-area {
    padding: 20px 0;
    width: 100%;
}

#keyboard-box {
    width: 750px;
    margin: auto;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3%;
    background-color: #252525;
    font-family: "Lato", sans-serif;
}

#keyboard-frame {
    background-color: #181818;
    border: solid #181818;
}

#backspace {width: 100px;}

#tab, #backslash, #ctrl-left, #alt-left, #alt-right, #ctrl-right {width: 75px;}

#caps-lock {width: 86px;}

#enter {width: 116px;}

#shift-left {width: 112px;}

#shift-right {width: 142px;}

#space {width: 468px;}

@media (max-width: 749px) {
    nav {justify-content: space-between;}
    #hamburger-menu {display: block;}
    .nav-responsive {display: none;}
    #keyboard-area {display: none;}
}